<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <property scope="context" name="appLogLevel" value="${LOG_LEVEL:-INFO}"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${appLogLevel}</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <options>
            <debug>false</debug>
            <dsn>${SENTRY_DNS}</dsn>
        </options>
        <minimumEventLevel>ERROR</minimumEventLevel>
        <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
    </appender>

    <logger name="si.ogrodje.oge" level="DEBUG"/>
    <logger name="si.ogrodje.oge.DB" level="DEBUG"/>

    <logger name="org.http4s.blaze.client" level="INFO"/>
    <logger name="net.fortuna.ical4j.model" level="ERROR"/>
    <logger name="org.quartz" level="INFO"/>

    <root level="${appLogLevel}">
        <appender-ref ref="Console"/>
        <appender-ref ref="Sentry"/>
    </root>
</configuration>
